h1 {
    color: white;
    padding-left: 20px;
}

body {
    background-image: url("/images/ville.jpg");
    font-family: arial, sans-serif;
    background-size: cover;
    background-position: center;

}

.producteur {
    color: yellowgreen;
    list-style-type: none;
    font-size: 25px;
    padding-left: 20px;
}


ol {
    color: white;
    padding-left: 20px;
}

ul {
    color: white;
    font-size: 15px;
    list-style: upper-latin;
    padding-left: 20px;
}

.ulpetit {
    list-style: disc;
    padding-left: 20px;
}